[Unit]
Description=Intel TurboBoost Manager
After=systemd-modules-load.service

[Service]
ExecStart=/usr/bin/thermal.sh

[Install]
WantedBy=multi-user.target